*{
  padding: 0;
  margin: 0;
  outline: none;
}

body{
  background-image: url("../img/Fondo\ hojas.webp");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Merriweather", serif;
  height: 100vh;
  margin: 0;
  
}

body {
padding-top: 80px; /* Ajusta según el tamaño de la barra */
}

/* Estilo adicional para asegurar que la barra de búsqueda ocupe el espacio necesario */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
}

/* La barra de búsqueda ocupa el 90% del espacio disponible pero se ajusta en pantallas más pequeñas */
.search-bar {
flex-grow: 1; /* La barra de búsqueda ocupa el espacio sobrante */
max-width: 60%; /* Máxima anchura cuando la pantalla es grande */
}

.navbar-nav {
width: 100%;
}

.navbar-collapse{
max-width: 400px;
width: 100%;
}