<aside class="col-3 p-0 mb-4" id="sidebar-container">
    <div class="bg-dark text-white p-3">
        <form id="formFiltros" method="get" action="/Busquedas/Filtrar">
            <h5>Categorías</h5>
            <hr class="mt-1">

            @* Categorías *@
            <div class="form-check">
                <input class="form-check-input" name="categorias" type="checkbox" value="Frutas" id="frutas">
                <label class="form-check-label" for="frutas">Frutas</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="categorias" type="checkbox" value="Verduras" id="verduras">
                <label class="form-check-label" for="verduras">Verduras</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="categorias" type="checkbox" value="Cereales" id="GranosCereales">
                <label class="form-check-label" for="GranosCereales">Granos y cereales</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="categorias" type="checkbox" value="Granja" id="Granja">
                <label class="form-check-label" for="herramientas">Granja</label>
            </div>

            @* Precio *@
            <br>
            <h5>Precio</h5>
            <hr class="mt-1">
            <div class="row gx-2">
                <div class="col">
                    <input type="number" class="form-control sn" placeholder="Mínimo" name="precioMin">
                </div>
                <div class="col">
                    <input type="number" class="form-control sn" placeholder="Máximo" name="precioMax">
                </div>
            </div>

        </form>
    </div>
</aside>
