<aside class="col-3 p-0 mb-4">
    <div class="bg-dark text-white p-3">

        <h5>Categorias</h5>
        <hr class="mt-1">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="frutas">
            <label class="form-check-label" for="frutas">
                Frutas
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="verduras">
            <label class="form-check-label" for="verduras">
                Verduras
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="GranosCereales">
            <label class="form-check-label" for="GranosCereales">
                Granos y cereales
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fertilizantes">
            <label class="form-check-label" for="fertilizantes">
                Fertilizantes
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="herramientas">
            <label class="form-check-label" for="herramientas">
                Herramientas
            </label>
        </div>


        <!-- Precios -->
        <br>
        <h5 class="">Precio</h5>
        <hr class="mt-1">
        <div class="row gx-2">
            <div class="col">
                <input type="number" class="form-control" placeholder="Mínimo">
            </div>
            <div class="col">
                <input type="number" class="form-control" placeholder="Máximo">
            </div>
        </div>

        <!-- Ubicacion del vendedor -->
        <br>
        <h5>Ubicacion del vendedor</h5>
        <hr class="mt-1">

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="bogota">
            <label class="form-check-label" for="bogota">
                Bogota
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="medellin">
            <label class="form-check-label" for="medellin">
                Medellin
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="barranquilla">
            <label class="form-check-label" for="barranquilla">
                Barranquilla
            </label>
        </div>
        <br>
    </div><!-- Categorias -->
</aside>
