@model List<AGONFRONT.Models.Categoria>

<aside class="col-3 p-0 mb-4" id="sidebar-container">
    <div class="bg-dark text-white p-3 rounded">
        <form id="formFiltros" method="get">
            <h5>Categorías</h5>
            <hr class="mt-1">

            @if (Model != null && Model.Any())
            {
                foreach (var categoria in Model)
                {
                    string checkboxId = "categoria_" + categoria.Id;
                    <div class="form-check">
                        <input class="form-check-input" name="categorias" type="checkbox" value="@categoria.Id" id="@checkboxId" />
                        <label class="form-check-label" for="@checkboxId">@categoria.Nombre</label>
                    </div>
                }
            }
            else
            {
                <p class="text-warning">No hay categorías disponibles.</p>
            }

            <br />
            <h5>Precio</h5>
            <hr class="mt-1" />
            <div class="row gx-2">
                <div class="col">
                    <input type="number" class="form-control" placeholder="Mínimo" name="precioMin" min="0">
                </div>
                <div class="col">
                    <input type="number" class="form-control" placeholder="Máximo" name="precioMax" min="0">
                </div>
            </div>
        </form>
    </div>
</aside>